.titleContainer{
    display: flex;
    justify-content: center;
    user-select: none;

}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem;
    justify-self: center;

}
.watchListContainer{
    padding: 0rem 4rem 4rem 4rem;
}