<!-- <div *ngIf="coins" class="listContainer">
    <p></p>
    <img [src]="coins.image" alt="">
    <a [routerLink]="['/coin-detail', coins.id ]">detail</a>
    <p>{{coins.price_change_percentage_24h * 100}}%</p>
    <p>{{coins.market_cap}}</p>
</div> -->
            <tr *ngIf="coins" >
                <td ><img [src]="coins.image"  alt=""></td>
                <td >{{coins.name}}</td>
                <td >{{coins.current_price}}</td>
                <td >{{coins.market_cap}}</td>
                <td >{{coins.price_change_percentage_24h}}</td>
            </tr>
            <!-- <div></div> -->