.listContainer{
   display: grid;
   grid-template-columns: repeat(5, 15rem);
   align-items: center;
   justify-content: center;


    & > * {
        padding: 0 2rem;
    }

    &__img{
       width: 30px;
       height: 30px; 
    }
}