<div class="formContainer">
    <form class="form" action="" method="">
        <!-- <div> -->
            <label class="form__label" for="fname">name</label>
            <input class="form__input" name="fname" id="fname" type="text">
        <!-- </div> -->
        <!-- <div> -->
            <label class="form__label" for="lname">Last name</label>
            <input class="form__input" name="lname" id="lname" type="text">
        <!-- </div> -->
        <div class="form__label">
            <label for="suscribe">suscribe to our news letter</label>
            <input class="form__input" name="suscribe" id="suscribe" type="checkbox">
        </div>
        <!-- <div> -->
            <label class="form__label" for="email">email</label>
            <input class="form__input" name="email" id="email" type="email">
        <!-- </div> -->
        <!-- <div> -->
            <label class="form__label" for="comments">leave us a comment</label>
            <textarea class="form__input" name="comments" id="comments" cols="30" rows="10"></textarea>
        <!-- </div> -->
        <button class="form__btn" type="submit">submit</button>
    </form>
</div>
