<div class="footerContainer">
    <a href="https://www.linkedin.com/in/diego-osorio-ruiz-30533a241/">
        <fa-icon class="footerContainer__icon" [icon]="linkedIn" ></fa-icon>
        <P>LinkedIn</P>
    </a>
    <a href="https://github.com/dosorio55/">
        <fa-icon class="footerContainer__icon" [icon]="github" ></fa-icon>
        <P>GitHub</P>
    </a>
    <a href="https://www.coingecko.com/">
        <fa-icon class="footerContainer__icon" [icon]="coinGecko" ></fa-icon>
        <P>coin gecko</P>
    </a>
</div>
