<div class="coinListContainer">
    <div *ngIf="(currentCoin$ | async) as currentCoin "
    class="coinContainer"
    >
        <img class="coinContainer__img" [src]="currentCoin[0].image" alt="coin image">
        <p>Coin Name: {{currentCoin[0].id | uppercase}}</p>
        <p>Current Price: {{currentCoin[0].current_price | currency}}</p>
        <p>Price Change in 24 hours: {{currentCoin[0].price_change_percentage_24h.toFixed(2)}}%</p>
    </div>
    <div class="chartContainer">
        <div  style="width: 900px;height:480px">
            <canvas id="myChart"></canvas>
        </div>
    
        <div class="chartContainer__btn">
            <button (click)="changeDaysRange(1)">1 Day</button>
            <button (click)="changeDaysRange(7)">7 Days</button>
            <button (click)="changeDaysRange(15)">15 Days</button>
            <button (click)="changeDaysRange(30)">30 Days</button>
        </div>
    </div>
</div>