<div *ngIf="coinsList" class="container">
    <div class="inputContainer">
        <input [(ngModel)]="searchValue" type="text">
        <input type="number" [(ngModel)]="pageNumber">
    </div>
    <div class="theadContainer">
        <p class="theadContainer__title">all coins</p>
        <p class="theadContainer__title">price</p>
        <p class="theadContainer__title">market cap</p>
        <p class="theadContainer__title">24h change</p>
    </div>
    <app-coin *ngFor="let coin of (coinsList | filter: searchValue: pageNumber)" 
    [coins]="coin">
    </app-coin>
</div>