.container {
    margin-top: 2rem;
    min-height: 80vh;
}

.inputContainer{
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    align-items: center;
    justify-content: center;

    & input {
        margin-left: 2.3rem;
        border-radius: 15px;
        height: 1.8rem;
    }
}

.theadContainer{
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    align-items: center;
    justify-content: center;

    & > * {
        font-weight: 700;
        padding: .5rem;
        margin: 1rem 2rem;
        text-transform: uppercase;
    }
}

.paginationContainer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__button{
        
        padding: 0.75rem 1rem;
        font-weight: 500;
    }

    &:hover {
        cursor: pointer;
    }
    
    &__icon {
        height: 100px;
        width: 100px;
    }
}

